{% args params %}
<!DOCTYPE html>
<html lang="en">
<header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lightclock configuration App</title>

    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
</header>
<body>
  <div class="container">
    <form class="form-horizontal form-config" action="/" method="post">
      <h2 class="form-config-heading">Lightclock settings</h2>
      {% for param in params %}
      {% if 'html_type' in param %}
      <div class="form-group">
          <label for="{{ param['name'] }}" class="col-sm-8 control-label">
              {% if 'description' in param %}
                {{ param['description'] }}
              {% else %}
                {{ param['name'] }}
              {% endif %}
          </label>
          <div class="col-sm-4">
              <input type="{{ param['html_type'] }}" class="form-control" name="{{ param['name'] }}" id="{{ param['name'] }}"
                     {% if 'min' in param %}
                        min="{{ param['min'] }}"
                     {% endif %}
                     {% if 'max' in param %}
                        max="{{ param['max'] }}"
                     {% endif %}
                     placeholder="{{ param['value'] }}">
          </div>
      </div>
      {% endif %}
      {% endfor %}
      <div class="form-group form-config-submit">
          <button type="submit" class="btn btn-lg btn-primary btn-block">Save</button>
      </div>
    </form>
  </div>
</body>
</html>