body {
  /*! padding-top: 40px; */
  /*! padding-bottom: 40px; */
  background-color: #eee;
}

.container > * {
    margin: 0 auto;
}
.current-time {
    margin-top: 75px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}

input::placeholder, .clockpicker {
    opacity: 0.54;
}
.clockpicker {
    margin-bottom: 60px;
    width: 100%;
    text-align: center;
}
#alarmtime {
    border: none;
    background-color: inherit;
    box-shadow: none;
    cursor: pointer;
    width: 4em;
}

.form-config {
    max-width: 330px;
    padding: 0 15px 15px 15px;
}
.form-config .form-config-heading {
  margin-bottom: 25px;
  text-align: center;
}
.form-config .form-config-heading a {
    color: black;
}
.form-config .form-config-heading .glyphicon {
    font-size: 70%;
    padding-left: 10px;
}
.form-config .form-config-submit {
  margin: 20px auto;
  width: 80%;
}
