body {
  /*! padding-top: 40px; */
  /*! padding-bottom: 40px; */
  background-color: #eee;
}

.current-time {
    margin: 75px auto;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}

.form-config {
    max-width: 330px;
    padding: 0 15px 15px 15px;
    margin: 0 auto;
}
.form-config .form-config-heading {
  margin-bottom: 25px;
  text-align: center;
}
.form-config .form-config-heading a {
    color: black;
}
.form-config .form-config-heading .glyphicon {
    font-size: 70%;
    padding-left: 10px;
}
.form-config .form-config-submit {
  margin: 20px auto;
  width: 80%;
}
